body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

h1 {
    font-size: 4em;
    color: #ae401d;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 3em;
    cursor: pointer;
    border: none;
    background-color: #bcbead;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #9ca652;
}

p {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}

#inspirationText {
    font-size: 1em;
    color: #666;
    text-align: center;
    margin-top: 20px;
    max-width: 80%;
}

#followButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #ff6347; /* Feel free to change this color */
    color: #fff;
    border: none;
    border-radius: 5px;
}

#followButton:hover {
    background-color: #e5533d; /* Slightly darker shade for hover */
}

/* Headline font */
h1 {
    font-family: soap, sans-serif;
}

/* Body text font */
body, #inspirationText, #activityIdea, button {
    font-family: forma-djr-micro, sans-serif;
}

body {
    max-width: 700px;
    margin: 0 auto; /* Centers the content on larger screens */
    padding: 0 20px; /* Adds a little padding on smaller screens */
}
